
/* This is the style for all the buttons in buttons.html. */
button {
    border-style: outset;
    background-color: slateblue;
    background-size: 2px;
    size: 80 px;
    color: slategrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: 100;
 }
.btnA {
    background-color: rgb(222, 135, 193)
}

.btnB {
    background-color: darkseagreen;
}

#btn1 {
    border: red;
}

#btn2 {

}

#btn3 {

}

#btn4 {

}

#btn5 {

}

#btn6 {

}

#btn7 {

}

#btn8 {

}

#btn9 {

}

#btn10 {

}

#btn11 {

}

#btn12 {

}

#btn13 {

}

#btn14 {

}

#btn15 {

}

#btn16 {

}

#btn17 {

}

#btn18 {

}

#btn19 {

}

#btn20 {

}